body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1518714049508-96a3054cdaef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80');
    background-size: cover;
    
}
h3{
    margin: 0 auto;
}
h1{
    text-align: center;
    padding-top: 10px;
}
h2{
    text-align: center;
    padding-bottom: 10px;
}
.btn{
   margin: 0 auto;
    
}
a{
    margin: 0 auto;
    color: tomato;
 }
 
