<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success signup</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

    <div class="center" style="height:100vh; top: 50%;">


        <div style="text-align: center; padding-top: 10vh;" >
            <div class="card" style="width: 18rem; height: 20rem; margin: 0 auto;">
                <img src="{{url_for('static', filename=usi)}}" class="card-img-top" alt="...">
                <div class="card-body">
                    {%  if st %}
                    <h3 style="text-align: center; font-size: 30px; color:green;">successfully added </h3>
                    <p> {{val_name}}</p>
                    <p>{{val_id}}</p>   
                    {% endif %}
                </div>
            </div>



            <a href="{{'createstudent'}}" class="btn btn-warning" style="margin: 5px;">Add students</a><br>
            <a href="{{'attendance'}}" class="btn btn-danger" style="margin: 5px;">Check Attendance</a><br>
            <a href="{{'redirect'}}" class="btn btn-success" style="margin: 5px;">Home</a><br>
        </div>>
    </div>


</body>
</html>
