<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <div class="center">
        <h1>Take Attendance</h1>
        <form action="{{ url_for('find')}}" id="myform" enctype="multipart/form-data" method="POST">
            <div class="txt_field">
                <input type="number"  name="num_cls"required>
                <label>Attendance No.</label>
            </div>
            <label> Class: </label>
            <div class="check" style="display: flex; align-items: center; justify-content: center;">
                {% for z in dt %}
                <input type="radio"  name="class" value="{{z}}">
                <label style="font-size: 16px;">{{z}}</label>
                {% endfor %}
            </div>
            <label> Teacher:</label>
            <div class="check" style="display: flex; align-items: center; justify-content: center;">
                {% for j in dp %}
                <input type="radio"  name="teach" value="{{j}}">
                <label style="font-size: 16px;">{{j}}</label>
                {% endfor %}
            </div>
            <div class = "imagefile" style="display: flex; align-items: center; justify-content: center;padding-top: 15px;padding-bottom: 15px;">
                <input type="file" name="imgfile" >
            </div>
            <input type="submit" />
            <div class="signup_link">
                <a href="{{'redirect'}}" style="padding: 5px;">Home</a>
                <a href="{{'attendance'}}">Check Attendance</a>
            </div>
        </form>
    </div>

.
    
    
    
    
</body>
</html>