<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create class</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    
</head>
<body>
    <div class="center">
        <h1>Create Class</h1>
        <form action="{{url_for('creatingclass')}}" id="yform"  method="POST">
            <div class="txt_field">
                <input type="number"  name="class_id"  required>
                <label>class id</label>
            </div>
            <div class="txt_field">
                <input type="text"  name="class_name" required>
                <label>class name</label>
               
            </div>
            <input type="submit" />
            <div class="signup_link">
                <a href="{{'redirect'}}">Home</a>
            </div>
        
        </form>

    </div>
    <div>
        {% if kk==1 and kkk==1 %}
    	<h3> Existing Class Name and class Id</h3>
        {% endif%}
    </div>
    .<div>
        {% if kk==1 and kkk==0 %}
    	<h3> Existing class Name</h3>
        {% endif %}
    </div>
    <div>
        {% if  kkk==1 and kk==0 %}
    	<h3> Existing  class Id</h3>
        {% endif %}
    </div>
    
    .
    
</body>
</html>
