<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class = "center">
        <h1>Welcome {{data['name'] | safe }} </h1>
        <hr>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem; margin: 0 auto;">
                        <img src="https://images.unsplash.com/photo-1599508704512-2f19efd1e35f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=675&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 style="text-align: center;">{{data['role']}}</h3>
                        </div>
                    </div>
                </div>


                <div class="col " >
                    <div class="colclass">
                        <div class="row">
                            <div class="col">
                                <h3>Name: {{data['name'] | safe }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3>Role: {{data['role'] | safe }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3>Collage ID: {{data['c_id'] | safe }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3>Collage Name: {{data['c_name'] | safe }}</h3>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <h2>Functions</h2>
                    

                    <p>your attendece here!</p>



                    <hr>
                    <div class="row">
                        <div class="col d-flex p-2">
                            <a href="{{'redirect'}}">home</a>
                        </div>
                        <div class="col d-flex p-2">
                            <a href="{{'logout'}}">logout</a>
                        </div>
                    </div>

                </div>



            </div>

        </div>

    </div>
    <div>
        {% for x in at %}
            <p>{{x['teacher']}} :</p>
          {%if data['personal_name'] in x['present']%}    
            <p>present</p>
            {% else %}
            <p>absent</p>
           {% endif%}
            {% endfor %}
        </div>
</body>
</html>