<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Attendance update</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <div class="center">
        <h1>Check attendance</h1>
        
        <form action="{{ url_for('update')}}" id="myform" enctype="multipart/form-data" method="POST">
            <div class="txt_field">
                <input type="number"  name="num_cls"  required>
                <label>class number</label>
            </div>
            <div class="check" style="display: flex; align-items: center; justify-content: center;">
                {% for z in dt %}
                <input type="radio"  name="class" value="{{z}}">
                <label >{{z}}</label>
                {% endfor %}
            </div>
            <div class="txt_field">
                <input type="text"  name="person"  required>
                <label>Name</label>
            </div>
            <div class="txt_field">
                <input type="text"  name="status"  required>
                <label>update attendence</label>
            </div>
            <input type="submit" />
            <div class="signup_link">
                <a href="{{'redirect'}}">Home</a>
            </div>


            
                
        </form>
    </div>
    <div >
        {% if st==1 %}
        <div style="position:absolute; height: 100vh; width: 100%; background-color: white; display: flex;align-items: center;justify-content: center;flex-direction: column;">
            <h2>Present :</h2>
        {% for x in newp %}
            <h4>{{x}}</h4>
            {% endfor %}
       
            <h2>Absent :</h2>
            {% for x in newa %}
                <h4>{{x}}</h4>
                {% endfor %}
          
        {%endif%}
        <a href="{{'redirect'}}" class="btn btn-danger">Home</a>

        </div>
        
        
       .

    </div>
    
</body>

</html>